.food {
    color: #f74346;
    font-size: 45px;
    margin-bottom: 1%;
    font-family: 'Roboto', sans-serif;
}

.drink {
    color: #f74346;
    font-size: 45px;
    margin-bottom: 1%;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
}

.foodPage {
    margin-top: 4%;
    font-family: 'Roboto', sans-serif;
    margin-left: 2%;

}

.foodContent {

}

.line {
    height: 100%;
}


.foods {
    display: inline-block;
    width: 19%;

}