.arrowcontainer {
    justify-content: center;
    align-items: center;
}

.cityname {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 115%;
}

.choosecinema {
    color: #F74346;
    font-size: 90%;
    font-family: 'Roboto';
    font-weight: 500;
}

.costomselect {
    margin: 0 auto 0 25px;
    background-color: #2B2B38;
    color: white;
    border-radius: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 25px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.selectarrow {
    color: #F74346;
}

.btn
{
    border: none;
}

.btn:hover {background-color: #161621;}
.btn:focus {background-color: #161621;}