.scroll-div {
    position: absolute;
    width: 90%;
}

.scroller-category {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #c0c0c0;
    text-align: left;
    font-size: 1.5vw;
    white-space: normal;
    z-index: 150;
}

.scroller-container {
    margin-top: 2%;
}

.scroller-container:not(:first-child) {
    margin-top: 14%;
    padding-top: 10%;
}

.category-sup {
    font-size: 50%;
}